<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.geekosphere.zeitgeist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="ZGApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity android:name=".activity.ZGActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ZGUploadActivity" >
            <!-- For images -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- For web URLs -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ZGPreferenceActivity" />

        <service android:name="at.diamonddogs.service.net.HttpService" >
        </service>
        <service android:name="at.diamonddogs.service.CacheService" >
        </service>

        <provider
            android:name="at.diamonddogs.contentprovider.CacheContentProvider"
            android:authorities="org.geekosphere.zeitgeist.contentprovider.CacheContentProvider"
            android:exported="false" />
    </application>

</manifest>